<%- include('./partials/header.ejs') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="row" id="navbarText">
        <form class="form-inline my-2 my-lg-0" method="GET" action="/">
            <input class="btn btn-outline-light my-2 mx-2 my-sm-0" type="submit" value="Landing Page">
        </form>
        <form class="form-inline my-2 my-lg-0" method="GET" action="/behavior/reporting">
            <input class="btn btn-outline-light my-2 mx-2 my-sm-0" type="submit" value="Report behaviour">
        </form>
        <form class="form-inline my-2 my-lg-0" method="GET" action="/behavior/summary">
            <input class="btn btn-outline-light my-2 mx-2 my-sm-0" type="submit" value="Reporting summary">
        </form>
            <form class="form-inline my-2 my-lg-0" method="GET" action="/auth/login">
                <input class="btn btn-outline-light my-2 mx-2 my-sm-0" type="submit" value="Login">
        </form>
        <form class="form-inline my-2 my-lg-0" method="GET" action="/auth/registration">
                <input class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Register">
        </form>       
        <form class="form-inline my-2 my-lg-0" method="GET" action ="/logout">
            <input class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Logout!">
        </form>
    </div>
</nav>

<h1>Monthly!</h1>
<form method="POST" action="/behavior/summary/monthly">
    <fieldset>
        <label for="date">Date: </label>
        <label for="year">Year: </label>
        <select id="year" name= "year">
            <option selected:disabled style="display:none"><%= year %></option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
        </select>
        <label for="month">Month: </label>
        <select id="month" name= "month">
            <option selected:disabled style="display:none"><%= month %></option>
            <option value="1">01</option>
            <option value="2">02</option> 
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <button type="submit" id="search" >search</button>
        <label for="interval">Please select a month!!!!</label>
    </fieldset>
</form>

<h3>Average sleep duration: <%= sleepDuration_average %></h3>
<h3>Average time spent on sports and exercise: <%= sportTime_average %></h3>
<h3>Average time spent on studying: <%= studyTime_average %></h3>
<h3>Average sleep quality: <%= sleepQuality_average %></h3>
<h3>Average generic mood: <%= genericMood_average %></h3>


<%- include('./partials/footer.ejs') %>