<%- include('./partials/header.ejs') %>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="row" id="navbarText">
        <form class="form-inline my-2 my-lg-0" method="GET" action="/">
            <input class="btn btn-outline-light my-2 mx-2 my-sm-0" type="submit" value="Landing Page">
        </form>
        <form class="form-inline my-2 my-lg-0" method="GET" action="/behavior/reporting">
            <input class="btn btn-outline-light my-2 mx-2 my-sm-0" type="submit" value="Report behaviour">
        </form>
        <form class="form-inline my-2 my-lg-0" method="GET" action="/behavior/summary">
            <input class="btn btn-outline-light my-2 mx-2 my-sm-0" type="submit" value="Reporting summary">
        </form>
            <form class="form-inline my-2 my-lg-0" method="GET" action="/auth/login">
                <input class="btn btn-outline-light my-2 mx-2 my-sm-0" type="submit" value="Login">
        </form>
        <form class="form-inline my-2 my-lg-0" method="GET" action="/auth/registration">
                <input class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Register">
        </form>       
        <form class="form-inline my-2 my-lg-0" method="GET" action ="/logout">
            <input class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Logout!">
        </form>
    </div>
</nav>

<h1>Weekly Summary!</h1>

<form method="POST" action="/behavior/summary/weekly">
    <fieldset>
        <label for="dateFrom">Date from: </label>
        <label for="dayFrom">Day: </label>
        <select id="dayFrom" name= "dayFrom">
            <option selected:disabled style="display:none"><%= dayFrom %></option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <label for="monthFrom">Month: </label>
        <select id="monthFrom" name= "monthFrom">
            <option selected:disabled style="display:none"><%= monthFrom %></option>
            <option value="1">01</option>
            <option value="2">02</option> 
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <label for="yearFrom">Year: </label>
        <select id="yearFrom" name= "yearFrom">
            <option selected:disabled style="display:none"><%= yearFrom %></option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
        </select>
        <label for="dateTo">Date to: </label>
        <label for="dayTo">Day: </label>
        <select id="dayTo" name= "dayTo">
            <option selected:disabled style="display:none"><%= dayTo %></option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <label for="monthTo">Month: </label>
        <select id="monthTo" name= "monthTo">
            <option selected:disabled style="display:none"><%= monthTo %></option>
            <option value="1">01</option>
            <option value="2">02</option> 
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <label for="yearTo">Year: </label>
        <select id="yearTo" name= "yearTo">
            <option selected:disabled style="display:none"><%= yearTo %></option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
        </select>
        <button type="submit" id="search" >search</button>
        <label for="interval">The interval needs to be 7 days!!!!</label>
    </fieldset>
</form>


<h3>Average sleep duration: <%= sleepDuration_average %></h3>
<h3>Average time spent on sports and exercise: <%= sportTime_average %></h3>
<h3>Average time spent on studying: <%= studyTime_average %></h3>
<h3>Average sleep quality: <%= sleepQuality_average %></h3>
<h3>Average generic mood: <%= genericMood_average %></h3>
<%- include('./partials/footer.ejs') %>
